.project-wrapper{
    padding-left: 1000px;
    padding-top: 4rem;
}

.project-header-text{
    font-family: 'Numans', sans-serif;
    text-decoration: underline;
    font-weight: 400;
    font-size: 30px;
    line-height: 47px;
}

.project-box{
    background-color: #3C3D3F;
    border-radius: 28px;
    display: flex;
    width: 80%;
}

.project-img{
    
    padding-top: 1rem;
    padding-bottom: 1rem;
}