.main-wrapper{
    padding-top: 4rem;
    padding-left: 4rem;
}

.main-photo{
    justify-content: end;
}

.description-wrapper{
    padding-top: 6rem;
}

.main-header{
    font-size: 80px;
    text-decoration: underline;

}

.main-paragraph{
    padding-top: 1rem;
    font-size: 25px;

}