.main-wrapper{
    padding-top: 4rem;
    padding-left: 4rem;
}

.main-photo{
    justify-content: end;
}

.description-wrapper{
    padding-top: 6rem;
}

.main-header{
    font-size: 80px;
    font-family: 'Peddana', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 130px;

}

.main-paragraph{
    font-family: 'Perpetua', sans-serif;
    padding-top: 1rem;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;

}