/* Navbar */

.header-text{
    font-family: 'Patua One', sans-serif;
    font-style: normal;
<<<<<<< HEAD
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
=======
    font-weight: 400;
    font-size: 50px;
    line-height: 61px;
>>>>>>> 219292eb19f8d9162f38ffb066641d4961c8794e
    color: white !important;
}

.header-bar{
    background-color: #3C3D3F;
    height: 5rem;
    padding: 0;
    top: 0;
}

.header-link{
    color: white !important;
    font-family: 'Perpetua', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
    padding-right: 3rem;
}